<!doctype html>
<html>
    <head>
        <title>geo.wifi data simulator</title>
    </head>

    <body>
        <h1>geo.wifi simulator</h1>
        <p>
            Simulates navigator.geolocation position changes for testing
            mobile web apps on non-mobile devices.
        </p>
        <p>
            Try setting <code>geo.wifi.uri</code> to <a href="?path=ivqwF~ttbMzPod@mf@y`@zAmEtk@|LjFuW{s@se@cEnMelAgv@_Wrt@i^oUcGxRybAip@wAFwAhCaCg@cAwBaIeEkCoDIgCfAkFmBkFoCqA}A{B}@iCmCoB{Ci@mAjAuCG}BwBgBsD{AcA}B?yKsEyFiG}FaD{BqGRgHcA}Bo_@aVwBPoDbC&start={{ now }}&speed=RUNNING">this URL</a>. Then visit a page that calls <code>navigator.geolocation.getCurrentPosition()</code> repeatedly to see the results in action.
        </p>
        <p>
            See the README for more information on why this doesn't affect <code>navigator.geolocation.watchPosition()</code>.
        </p>
    </body>
</html>
