<!doctype html>
<html>
    <head>
        <title>geo.wifi data simulator</title>
    </head>

    <body>
        <h1>geo.wifi simulator</h1>
        <p>
            Simulates navigator.geolocation position changes for testing
            mobile web apps on non-mobile devices.
        </p>
        <p>
            Try <a href="?path=ivqwF~ttbMzPod@mf@y`@zAmEtk@|LjFuW{s@se@cEnMelAgv@_Wrt@i^oUcGxRybAip@wAFwAhCaCg@cAwBaIeEkCoDIgCfAkFmBkFoCqA}A{B}@iCmCoB{Ci@mAjAuCG}BwBgBsD{AcA}B?yKsEyFiG}FaD{BqGRgHcA}Bo_@aVwBPoDbC&start={{ now }}&speed=RUNNING">this</a>.
        </p>
    </body>
</html>
